### Original Data Frame

__shape:__

    (900223 rows, 16 columns)
    
__info:__

    - nulls
    - need to change some dtypes
    - dummy cols might be needed
    - cols that can be dropped
        - id
        - slack
        - cohort_id.1
        - deleted_at
        
__data types:__
    
    change to date time
        - date
        - time
        - start date
        - end date
        - created at
        - unpdated at
        - deleted at
        - 
            
    change to int
        - cohort_id
        - id
        - program id
        
    possible dummy cols
        - path
        - user id
        - cohort id
        - ip
        - name
        - program id
        
__null values__

    date                0
    time                0
    path                1
    user_id             0
    cohort_id       52893
    ip                  0
    id              52893 | col dropped
    name            52893
    slack           52893 | col dropped
    start_date      52893
    end_date        52893
    created_at      52893
    updated_at      52893
    deleted_at     900223 | col dropped
    program_id      52893
    cohort_id.1     52893 | col dropped
    
>(52893/900223) * 100 = 5.8755%>
There is approx. 6% of data missing from the majority of columns. I have verified the 52893 null values are the same 52893 values in each column. In other words, there are 52893 rows with null values in cohort_id, id, name, slack, start_date, end_date, created_at, updated_at, program_id, and cohort_id.1.

Because the volume of data missing is minimal, I can either drop all rows with null values or create a seperate cohort for these values.
    
    For it to be reasonable to create a cohort from the values with null values
        - how many individuals have null values and what is the avg number of individuals in cohorts?